<section class="section section--contact-list">
  <div class="section-intro">
    <h2 class="section__intro">Contact</h2>
  </div>

  <div class="contact-list">
    <p>
      Email: <a href="mailto:joaodfmota@outlook.com">joaodfmota@outlook.com</a> <br>
      Linkedin: <a href="https://www.linkedin.com/in/joaodfmota/"> Check profile </a> <br>
      Github: <a href="http://www.github.com/joaodfmota"> Check profile </a>  
    </p>

  </div>
</section>