<section class="section section--last-projects">
  <div class="section-intro">
    <h2 class="section__intro">Projects</h2>
    <p class="section__desc">Check out last projects that i've worked</p>
  </div>

  <div class="last-projects">
    <article class="project project--github" itemscope itemtype="http://schema.org/CreativeWork">
      <a href="https://www.microsoft.com/pt-br/store/p/sodexo/9pgd5p7qw9xv" class="project__link" itemprop="sameAs">
        <div>
          <h3 class="project__title" itemprop="name">Sodexo</h3>
          <p class="project__desc" itemprop="description">A Windows app to check balance for sodexo cards.</p>
          <p class="project__country" itemprop="contentLocation" itemscope itemtype="http://schema.org/AdministrativeArea">
            <span itemprop="name">🇧🇷</span>
          </p>

        </div>

      </a>

    </article>

  </div>
</section>