{% set bodyClass = "home" %}
{% set pageTitle = "Home" %}

<!-- Index -->
{% extends "layout-home.njk" %}
{% block content %}
  {% include "partials/sections/last-projects.njk" %}
{% endblock %}
<!-- .Index -->