<footer>
  <p>Made with ❤️ in Florianópolis, Brazil</p>
  <p>Proudly hosted on <a href="https://www.netlify.com" target="_blank">Netlify</a>. Source Code on <a href="https://github.com/joaodfmota/personal-website" target="_blank">Github</p>
     
</footer>