<header itemprop="customer" itemscope itemtype="http://schema.org/Person">
  <h1>Hello! <br/>
    I am <span itemprop="name">João Mota</span>, <br/>
    a <span itemprop="jobTitle">Web Developer</span> <br/>
    based in <span itemprop="homeLocation">Florianópolis, Brazil</span> 
  </h1>

</header>