//  
// 3.2 Footer
//
// 3.2.1. Default
//
// ==================================================
// 3.1.1 Default
// -------------------------------------------------- 
footer {
  & p {
    margin: 0;
  }

  & .heart__icon {
    margin: 0 5px;
  }

  a {
    color: $c-default;
  }
}
