//  
// 1.3 Global
//
// 1.3.1. Main
//
// ==================================================
// 1.3.1 Main
// -------------------------------------------------- 
body {
  color: $c-default;
  font-family: $ff-raleway;
}

header,
main,
footer {
  padding: 0 1em;
}

.wrapper {
  margin: 3em auto;
  max-width: 960px;
}
