//  
// 1.2 Variables
//
// 1.2.1. Colors
// 1.2.2. Spaces 
// 1.2.3. Typography
//
// ==================================================
// 1.2.1 Colors
// -------------------------------------------------- 
$c-black: #000;
$c-default: #222;
$c-red: #f00;

// 1.2.2 Spaces
// --------------------------------------------------
$p-default: 60px;
$pv-default: 60px 0;

$p-half: 30px;
$pv-half: 30px 0;

$m-default: 60px;
$m-half: 30px;

$mv-default: 60px 0;
$mv-half: 30px 0;

// 1.2.3 Typography
// --------------------------------------------------
$ff-raleway: 'Raleway', sans-serif;
